.container{
  box-sizing: border-box;
  margin-bottom: 80px;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.search-controls{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}
.search-input{
  padding: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.1rem;
  box-sizing: border-box;
  border: 1px solid var(--theme-color-500);
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--theme-color-300);
}
.input{
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  color: var(--theme-color-950);
}
.content{
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
  width: 100%;
}
.centered-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  width: 100%;
}
.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.not-found > h1{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--theme-color-100);
  letter-spacing: 0.05em;
}
.filters{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: auto;
  overflow: hidden;
  flex: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: 0.5s ease-out;
}
.categories{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: start;
  align-items: start;
  gap: 1rem;
  transition: 0.5s ease-in-out;
  height: 100%;
}
.category{
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--theme-color-100);
  background-color: var(--theme-color-800);
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;
}
.title{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--theme-color-100);
  letter-spacing: 0.05em;
  margin-bottom: 0.1rem;
}
.see-more-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--theme-color-100);
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
}
