<div class="container">
  <div class="search-controls">
    <div class="search-input">
      <mat-icon
      style="color: var(--theme-color-950)"
      >
        search</mat-icon>
      <input
        type="text"
        class="input"
        placeholder="Search for cocktail..."
        [(ngModel)]="query"
        (keydown.enter)="searchDrink(query)"
        (ngModelChange)="searchDrink(query)">
    </div>
  </div>
  <app-drinks-grid
    [iterableDrinks]="foundDrinks"
    *ngIf="foundDrinks.length > 0 && !isLoading"
  />
  <div class="centered-content" *ngIf="isLoading">
    <mat-spinner
                 style="color: var(--theme-color-200)">
    </mat-spinner>
  </div>
    <div class="centered-content not-found"
         *ngIf="foundDrinks.length == 0 && !isLoading && !didComponentJustLoad">
      <img src="assets/sad_cocktail.png" width="150px" height="150px">
      <h1>
        No drinks found
      </h1>
    </div>
  <div class="centered-content not-found" *ngIf="didComponentJustLoad">
    <h1> Browse cocktails</h1>
  </div>
</div>
