<div class="container" *ngIf="activePost && isLoaded">
<!--PHOTO -->
  <div class="img-wrapper">
      <div class="menu">
        <div class="go-back" (click)="navigationService.goBack()">
          <mat-icon style="color: var(--theme-color-500)">arrow_back</mat-icon>
        </div>
      </div>
    <img class="image" src="{{activePost.postMedia?.pictures?.[0]}}" alt="{{activePost.postMedia?.title}}">
  </div>
<!--WHOLE DETAILS-->
  <div class="details">
    <div class="drink-info">
      <p class="name-text"> {{activePost.postMedia?.title}}</p>
      <p class="desc-text">{{activePost.likesCount}} likes {{activePost.commentsCount}} comments</p>
      <p class="desc-text">{{activePost.postMedia?.description}}</p>
      <p class="category-text"> <b *ngFor="let tag of activePost.tags">{{tag?.tagName || ''}}  </b></p>
    </div>

    <div class="user-info" (click)="gotoProfile(postAuthor.userId || '')">
      <img src="{{postAuthor.profilePicture}}" alt="user" class="user-image" width="50px" height="50px">
      <p class="user-name"> Posted by <b>{{getAuthorName()}}</b></p>
    </div>
    <div class="ingredients">
      <mat-chip-set>
        <mat-chip
          *ngFor="let ingr of getIngredients()"
          highlighted
          style="background-color: var(--theme-color-600); color:var(--theme-color-50); font-size: 16px; font-weight: 700; text-transform: capitalize;"
          (click)="initializeIngredientView(ingr.ingredientId || 0)">
          {{ingr.name}}
        </mat-chip>
      </mat-chip-set>
    </div>
  </div>


<!--  BUTTONS-->
  <div class="buttons">
    <div class="left-action">
      <button
        (click)="toggleLike()"
        class="button-actions-small"
        [class.liked]="isPostLikedByCurrentUser"
        matRipple>
        <mat-icon [class.animate-like]="isPostLikedByCurrentUser">
          {{isPostLikedByCurrentUser ? 'favorite' : 'favorite'}}
        </mat-icon>
      </button>
      <button class="button-actions-small" matRipple (click)="initializeCommentSection(activePost.postId || '')"><mat-icon>chat</mat-icon></button>
      <button class="button-actions-small" matRipple (click)="initializeAddToFoodList()"><mat-icon>bookmark</mat-icon></button>
    </div>
    <button class="button-actions-big" matRipple (click)="initializeInstructionsView(activePost)">Let's cook</button>
  </div>
</div>
