<div class="container" *ngIf="activeDrink">
<!--PHOTO -->
  <div class="img-wrapper">
      <div class="menu">
        <div class="go-back" (click)="navigationService.goBack()">
          <mat-icon style="color: var(--theme-color-500)">arrow_back</mat-icon>
        </div>
      </div>
    <img class="image" src="{{activeDrink.image}}" alt="{{activeDrink.name}}">
  </div>
<!--WHOLE DETAILS-->
  <div class="details">
    <div class="drink-info">
      <p class="name-text"> {{activeDrink.name}}</p>
      <p class="desc-text">Very nice drink with very nice description</p>
      <p class="category-text"> {{activeDrink.category}}</p>
    </div>

    <div class="user-info">
      <img src="assets/user_placeholder.png" alt="user" class="user-image" width="50px" height="50px">
      <p class="user-name"> Posted by <b>KanesaTheCook</b></p>
    </div>
    <div class="ingredients">
      <mat-chip-set>
        <mat-chip
          *ngFor="let ingr of activeDrink.ingredients"
          highlighted
          style="background-color: var(--theme-color-600); color:var(--theme-color-50)"
          (click)="initializeIngredientView(ingr.idIngredient)">
          {{ingr.name}}
        </mat-chip>
      </mat-chip-set>
    </div>
  </div>


<!--  BUTTONS-->
<!--  <div class="buttons">-->
<!--    <button class="btn" matRipple (click)="initializeInstructionsView(activeDrink!)"> <mat-icon>list_alt </mat-icon>Mix It Up</button>-->
<!--    <button class="btn" matRipple (click)="initializeAddToBarView(activeDrink.idDrink)"> <mat-icon>liquor </mat-icon>Add to bar</button>-->
<!--  </div>-->
</div>
