<div class="container">
  <div class="navigation">
    <p *ngIf="!isVisitor()">Your Profile</p>
    <div *ngIf="isVisitor()" class="go-back" (click)="navigationService.goBack()">
      <mat-icon>arrow_back</mat-icon>
    </div>
    <div class="go-back"
       (click)="gotoSettings()">
      <mat-icon>settings</mat-icon></div>
  </div>
  <div class="user-info">
    <div class="user-avatar">
      <img src="{{user.profilePicture}}">
    </div>
    <p class="user-name"> {{user.displayName || 'Unknown'}} </p>
    <div class="social-details">
      <div class="social-details-item">
        <p class="social-details-item-counter">0</p>
        <p class="social-details-item-label">Posts</p>
      </div>
      <div class="social-details-item" (click)="gotoFollowers()">
        <p class="social-details-item-counter">{{user.followersCount || 0}}</p>
        <p class="social-details-item-label">Followers</p>
      </div>
      <div class="social-details-item" (click)="gotoFollowing()">
        <p class="social-details-item-counter">{{user.followingCount || 0}}</p>
        <p class="social-details-item-label">Following</p>
      </div>
    </div>
      <p class="user-bio">{{user.bio || 'No bio available'}}</p>
  </div>
  <div class="user-actions">
    <div class="actions" *ngIf="isVisitor()">
      <button class="button-secondary" matRipple [ngClass]="user.isFollowing ? '' : 'active'" (click)="toggleFollow()"> {{user.isFollowing ? 'Following' : 'Follow' }} </button>
      <button class="button-secondary" matRipple> Message </button>
      <button class="button-secondary" matRipple> Report </button>
    </div>
    <div class="actions" *ngIf="!isVisitor()">
      <button class="button-secondary" matRipple> Edit Profile </button>
      <button class="button-secondary" matRipple> Share Profile </button>
      <button class="button-secondary" matRipple> Badges </button>
    </div>
  </div>
  <div class="user-posts">

  </div>
</div>
