<ngx-pull-to-refresh
  spinnerColor="#fff"
  [spinnerSize]=40
  [distanceForRefresh]=60
  [isEnable]="true"
  [targetElement]="targetElement"
  (refresh)="refreshEvent($event, 'refresh')"
  style="display:block;height:100%;">
<div class="content">
  <div class="separator">
    <p> {{greeting}} </p>
  </div>
<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="loadPost()"
>
  <app-feed-item
    *ngFor="let post of posts"
    [feedItem]="post"
    (gotoDrink)="gotoDrink($event)"
  />
</div>
</div>

</ngx-pull-to-refresh>
