<ngx-pull-to-refresh
  [style.display]="'block'"
  [style.height]="'100%'"
  [spinnerColor]="'#fff'"
  [spinnerSize]="40"
  [distanceForRefresh]="40"
  [isEnable]="true"
  [targetElement]="targetElement"
  (refresh)="handleRefreshEvent($event)"
>
  <div class="content">
    <div class="separator">
      <p class="greeting"> {{ greeting }} </p>
    </div>

    <div
      class="feed-container"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      [infiniteScrollDisabled]="loading"
      (scrolled)="loadPost()"
    >
      <ng-container *ngIf="posts.length > 0">
        <app-feed-item
          *ngFor="let post of posts; trackBy: trackByPostId"
          [@fadeIn]
          [feedItem]="post"
          (gotoDrink)="gotoPost($event)"
          (likeEvent)="onLikeEvent(post.postId!)"
        />
      </ng-container>
    </div>
  </div>
</ngx-pull-to-refresh>
