<div class="container-modal" [@dialog]="state">
  <div class="content">
    <div class="tobar-modal-content">
      <p class="title-text"> Your Bar's</p>
      <div class="bar-list">
        <div class="no-bars" *ngIf="userBars.length <= 0">
          <p>You have no bars. </p>
        </div>
        <div class="single-bar" *ngFor="let bar of userBars" (click)="addToBar(bar.idBar)">
          <p class="bar-name"> {{bar.name}} </p>
        </div>
      </div>
    </div>
    <div class="controls">
      <button class="button-primary" (click)="onClose()">Close</button>
    </div>
  </div>
</div>
