<div class="container">
  <div class="top">
    <img src="assets/icons/icon-128x128.png" width="80px" height="80px">
    <p> TasteIT </p>
  </div>
  <div class="highlights">
    <div>
      <p>All-in-one food app</p>
      <p>Freshly cooked for you</p>
    </div>
    <img src="assets/cooked.png" width="300px" height="300px">
  </div>
  <div class="actions">
    <button class="button-primary" (click)="goto('register')"> Create Account </button>
    <button class="button-tertiary" (click)="goto('login')"> Login </button>
  </div>
</div>
