<div class="container">
    <div class="search-controls">
      <div class="input-field">
        <mat-icon>search</mat-icon>
        <input [formControl]="searchControl" type="text" placeholder="What we cooking?">
      </div>
      <div class="filter">
        <p class="label">Search:</p>
        <div
          class="filter-option"
          [ngClass]="{'active': searchType === 'Posts'}"
          (click)="setSearchType('Posts')">
          Posts
        </div>
        <div
          class="filter-option"
          [ngClass]="{'active': searchType === 'Users'}"
          (click)="setSearchType('Users')">
          Users
        </div>
        <div
          class="filter-option"
          [ngClass]="{'active': searchType === 'Tags'}"
          (click)="setSearchType('Tags')">
          Tags
        </div>
      </div>


    </div>
</div>
<div *ngIf="searchType === 'Posts'">
  <app-post-grid [posts]="foundPosts" *ngIf="!isLoading"></app-post-grid>
</div>
<div *ngIf="searchType === 'Users'">
  <app-users-list [users]="foundUsers" *ngIf="!isLoading"></app-users-list>
</div>
<div *ngIf="searchType === 'Tags'">
  <app-tags-list [tags]="foundTags" *ngIf="!isLoading"></app-tags-list>
</div>

<button
    class="button-tertiary centered"
    (click)="loadMorePosts()"
    *ngIf="foundPosts.length >= 20 || foundUsers.length>= 20 || foundTags.length >=20 && !isLoading"> Load more</button>

<!--  spinner for loading-->
  <div class="centered-content" *ngIf="isLoading">
    <mat-spinner style="color: var(--theme-color-200)" />
  </div>

