<div class="feed-item" *ngIf="feedItem">
  <div class="image-wrapper" (click)="emitGotoDrink()">
    <div class="profile-info">
      <img src="assets/user_placeholder.png">
      <p> username</p>
    </div>
    <img src="{{feedItem.postMedia?.pictures?.[0]}}">
    <div class="actions">
      <div class="like" (click)="emitLike($event)">
        <mat-icon>favorite_border</mat-icon>
        <p> {{feedItem.likesCount}}</p>
      </div>
      <div class="comment" (click)="emitComment($event)">
        <mat-icon>chat_bubble_outline</mat-icon>
        <p> {{feedItem.commentsCount}} </p>
      </div>
    </div>
  </div>

  <p class="item-name"> {{feedItem.postMedia?.title}} </p>
  <p class="item-desc"> {{feedItem.postMedia?.description}}</p>
  <p class="item-date"> {{getDate()}} </p>
</div>
