<div class="feed-item" *ngIf="feedItem">
  <div class="image-wrapper" (click)="emitGotoDrink()">
    <div class="profile-info" (click)="gotoUser($event)">
      <img src="{{feedItem.postAuthorDto?.profilePicture}}" alt="Profile picture">
      <p> {{feedItem.postAuthorDto?.displayName}}</p>
    </div>
    <img src="{{feedItem.postMedia?.pictures?.[0]}}" alt="{{feedItem.postMedia?.title}}" class="post-picture">
    <div class="actions">
      <div class="like" (click)="emitLike($event)">
        <mat-icon *ngIf="!feedItem.likedByCurrentUser">favorite_border</mat-icon>
        <mat-icon *ngIf="feedItem.likedByCurrentUser"  [ngStyle]="{'color':'white'}" class="red">favorite</mat-icon>
        <p> {{feedItem.likesCount}}</p>
      </div>
      <div class="comment" (click)="emitComment($event)">
        <mat-icon>chat_bubble_outline</mat-icon>
        <p> {{feedItem.commentsCount}} </p>
      </div>
    </div>
  </div>

  <p class="item-name"> {{feedItem.postMedia?.title}} </p>
  <p class="item-desc"> {{feedItem.postMedia?.description}}</p>
  <p class="item-date"> {{DateFormatter.getFormattedDate(feedItem.createdDate!)}} </p>
</div>
