<div class="container">
  <div class="content">
    <div class="title">
      <p class="title-text"> DrinkBuilder </p>
      <app-beta-badge />
    </div>
<!--    -->
    <mat-tab-group dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>
          <div style="color: var(--theme-color-50)">Ingredients</div>
        </ng-template>
          <div class="selected" *ngIf="selectedIngredients.length>0">
            <p class="selected-text"> Selected ingredients: </p>
            <div class="chip-set-wrapper">
              <mat-chip-set>
                <mat-chip
                  *ngFor="let selected of selectedIngredients; let i = index"
                  (click)="handleIngredientClick(selected)"
                  highlighted
                  style="background-color: var(--theme-color-600); color:var(--theme-color-50)"
                  [style.display]="i < 6 ? 'inline-flex' : 'none'">
                  {{selected}}
                </mat-chip>
                <mat-chip
                  *ngIf="selectedIngredients.length > 6"
                  style="background-color: var(--theme-color-600); color:var(--theme-color-50)"
                  highlighted>
                  +{{ selectedIngredients.length - 6 }} more</mat-chip>
              </mat-chip-set>
            </div>
          </div>
          <input type="text" class="search-input" [(ngModel)]="searchPhrase" (ngModelChange)="filterIngredientsByPhrase()" placeholder="Search for ingredient">
          <p class="selected-text"> All ingredients: </p>
          <div class="ingredient-list">
            <p *ngFor="let ingredient of filteredIngredients" class="ingredient-text" (click)="handleIngredientClick(ingredient)">{{ingredient}}</p>
          </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div style="color: var(--theme-color-50)">Results(0)</div>
        </ng-template>
        <p> Results </p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">settings</mat-icon>
        </ng-template>
        <p> Builder Mode</p>

      </mat-tab>
    </mat-tab-group>
  </div>
</div>
