<div class="container" *ngIf="activeDrink">
  <div class="menu">
    <a [routerLink]="['/home']"><mat-icon style="color: var(--theme-color-500)">arrow_back_ios</mat-icon></a>
    <p class="details-text"> Drink Details </p>
    <mat-icon style="color: var(--theme-color-500)">ios_share</mat-icon>
  </div>
  <div class="details">
    <img class="image" src="{{activeDrink.image}}" width="250px" height="250px">
    <div class="drink-info">
      <p class="name-text"> {{activeDrink.name}}</p>
      <p class="category-text"> {{activeDrink.category}}</p>
    </div>
    <div class="controls">
      <p class="nomargin"> ingriedients </p>
      <div class="beans">
        <div class="bean" matRipple>
          <mat-icon>favorite</mat-icon>
        </div>
        <div class="bean" matRipple>
          <mat-icon>local_bar</mat-icon>
        </div>
      </div>
    </div>
    <div class="ingredients">
<!--      <p *ngFor="let ingr of activeDrink.ingredients" class="ingr-text">{{ingr.name}}</p>-->
      <mat-chip-set>
        <mat-chip
          *ngFor="let ingr of activeDrink.ingredients"
          highlighted
          style="background-color: var(--theme-color-600); color:var(--theme-color-50)"
          (click)="initializeIngredientView(ingr.idIngredient)">
          {{ingr.name}}
        </mat-chip>
      </mat-chip-set>
    </div>
    <div class="buttons">
      <button class="btn" matRipple (click)="initializeInstructionsView(activeDrink!)"> <mat-icon>list_alt </mat-icon>Mix It Up</button>
      <button class="btn" matRipple (click)="showTestToast()"> <mat-icon>liquor </mat-icon>Add to bar</button>
    </div>
  </div>
</div>
