<div class="container">
  <div class="top">
    <img src="assets/icons/icon-128x128.png" width="80px" height="80px">
    <p> TasteIT </p>
  </div>
  <div class="content">
    <form class="form" [formGroup]="loginForm">
      <p class="title-text"> Welcome back! Please Log in.</p>
      <div class="input-field">
        <mat-icon>mail</mat-icon>
        <input type="email" name="email" placeholder="Email" formControlName="email">
      </div>
      <div class="input-field">
        <mat-icon>lock</mat-icon>
        <input type="password" name="password" placeholder="Password" formControlName="password">
      </div>
      <button type="submit" name="submit" class="button-primary" (click)="login()">Log in</button>
    </form>
  </div>
  <div>
    <p class="text">First time here? <a href="/register">Sign up</a></p>
  </div>
</div>
