html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--theme-color-950) }
:root{
  --theme-color-50: #f3f7fb;
  --theme-color-100: #e4eaf5;
  --theme-color-200: #d0dced;
  --theme-color-300: #afc5e1;
  --theme-color-400: #89a6d1;
  --theme-color-500: #6d8bc4;
  --theme-color-600: #5a74b6;
  --theme-color-700: #4f63a6;
  --theme-color-800: #455388;
  --theme-color-900: #3b466d;
  --theme-color-950: #24293e;

  --accent-color: #FFD2E5;

  --logo-font: 'Pacifico', cursive;
}
.button-primary{
  width: 100%;
  height: 3rem;
  background-color: var(--theme-color-500);
  color: var(--theme-color-950);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}
.button-primary:disabled{
  background-color: var(--theme-color-300);
  color: var(--theme-color-950);
  cursor: not-allowed;
}
.modal{
  width: 100vw;
  height: 100vh;
  background-color: var(--theme-color-950);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem;
}

