<div class="container">
  <div class="profile-tab" matRipple (click)="gotoProfile()">
    <img src="{{user.profilePicture}}" width="50px" height="50px" class="profile-picture">
    <div class="texts" *ngIf="isAuthenticated && user">
      <p class="profile-text"> {{user.displayName}}</p>
      <p class="profile-subtitle"> {{user.email}}</p>
    </div>
    <div class="texts" *ngIf="!isAuthenticated">
      <p class="profile-text"> You're not logged in!</p>
      <p class="profile-subtitle"> Log in to manage your account</p>
    </div>
  </div>

  <div class="actions">
    <p class="section-title"> Profile </p>

    <div class="action" matRipple (click)="goto('userLikes')">
      <div>
          <mat-icon>favorite</mat-icon>
          <p> Likes </p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
    <div class="action" matRipple (click)="goto('foodlists')">
      <div>
        <mat-icon>menu_book</mat-icon>
        <p> FoodLists </p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>

    <div class="action" matRipple (click)="notImplemented()">
      <div>
        <mat-icon>dashboard</mat-icon>
        <p> Feed Settings </p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
    <div class="action" matRipple (click)="notImplemented()">
      <div>
        <mat-icon>admin_panel_settings</mat-icon>
        <p> Account Settings</p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
  </div>

  <div class="actions">
    <p class="section-title"> App </p>

    <div class="action" matRipple (click)="notImplemented()">
      <div>
        <mat-icon>settings</mat-icon>
        <p> Settings </p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
    <div class="action" matRipple (click)="notImplemented()">
      <div>
        <mat-icon>info</mat-icon>
        <p> Info </p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
    <div class="action" matRipple (click)="notImplemented()">
      <div>
        <mat-icon>contact_support</mat-icon>
        <p> Contact us </p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
  </div>
  <div class="actions">
    <p class="section-title"> Account </p>
    <div class="action" matRipple (click)="logout()">
      <div>
        <mat-icon>logout</mat-icon>
        <p> logout </p>
      </div>
    </div>
  </div>

  <div class="app-info">
    <p> {{GlobalConfiguration.APP_NAME}}</p>
    <p> {{GlobalConfiguration.APP_VERSION}}</p>
  </div>
</div>
