<div class="container">
  <div class="profile-tab" matRipple (click)="goto('login')">
    <img src="../../../assets/user_placeholder.png" width="50px" height="50px" class="profile-picture">
    <div class="texts" *ngIf="isAuthenticated && user">
      <p class="profile-text"> {{user.displayName}}</p>
      <p class="profile-subtitle"> {{user.email}}</p>
    </div>
    <div class="texts" *ngIf="!isAuthenticated">
      <p class="profile-text"> You're not logged in!</p>
      <p class="profile-subtitle"> Log in to manage your account</p>
    </div>
  </div>

  <div class="actions">
    <p class="section-title"> Profile </p>

    <div class="action" matRipple>
      <div>
          <mat-icon>history</mat-icon>
          <p> Cocktails History </p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
    <div class="action" matRipple (click)="goto('favourites')">
      <div>
        <mat-icon>favorite</mat-icon>
        <p> Favorite </p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
    <div class="action" matRipple>
      <div>
        <mat-icon>group</mat-icon>
        <p> Friends </p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
  </div>

  <div class="actions">
    <p class="section-title"> App </p>

    <div class="action" matRipple>
      <div>
        <mat-icon>info</mat-icon>
        <p> Info </p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
    <div class="action" matRipple>
      <div>
        <mat-icon>contact_support</mat-icon>
        <p> Contact us </p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
    <div class="action" matRipple>
      <div>
        <mat-icon>settings</mat-icon>
        <p> Settings </p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
  </div>
  <div class="actions">
    <p class="section-title"> Account </p>
    <div class="action" matRipple (click)="logout()">
      <div>
        <mat-icon>logout</mat-icon>
        <p> logout </p>
      </div>
    </div>
  </div>

  <div class="app-info">
    <p> {{GlobalConfiguration.APP_NAME}}</p>
    <p> {{GlobalConfiguration.APP_VERSION}}</p>
  </div>
</div>
