<div class="fs-container">
  <div class="progress-container">
    <div class="progress-bar" [style.width.%]="getProgress()"></div>
  </div>

  <div class="step-container">
    <div class="steps-info">
      <p class="step-header">{{ steps[currentStep - 1].label }}</p>
      <p class="step-description">{{ steps[currentStep - 1].description }}</p>
    </div>

    <!-- NAME -->
    <div class="input-field" [formGroup]="form" *ngIf="currentStep === 1">
      <mat-icon>person</mat-icon>
      <input type="text" name="Username" placeholder="Username" formControlName="username">
    </div>

    <div class="profile-picture-container" *ngIf="currentStep===2">
      <image-cropper
        *ngIf="imageChangedEvent"
        [imageChangedEvent]="imageChangedEvent"
        [aspectRatio]="1 / 1"
        [resizeToWidth]="128"
        format="png"
        output="base64"
        (imageCropped)="onImageCropped($event)"
        [cropperMinWidth]="100"
        [cropperMinHeight]="100"
        [roundCropper]="true"
        ></image-cropper>
      <button class="button-secondary with-icon" (click)="fileInput.click()"> <mat-icon>upload</mat-icon> Upload Photo </button>
      <input
        type="file"
        accept="image/*"
        #fileInput
        (change)="onFileSelected($event)"
        style="display: none"
      >
    </div>

    <!-- BIRTHDATE -->
    <div class="input-field" [formGroup]="form" *ngIf="currentStep === 3">
      <mat-icon>cake</mat-icon>
      <input type="date" name="birthdate" formControlName="birthdate">
    </div>

    <!-- BIO -->
    <mat-form-field [formGroup]="form" *ngIf="currentStep === 4">
      <textarea matInput placeholder="Ex. I like pizza" formControlName="bio"></textarea>
    </mat-form-field>

    <!-- TAGS -->
    <div class="tags-container" *ngIf="currentStep === 5">
      <div class="tag"
           *ngFor="let tag of tags"
           [ngClass]="{selected: isSelected(tag)}"
           (click)="toggleTagSelection(tag)"
      >
        {{ tag.tagName }}
      </div>
    </div>
  </div>

  <div class="controls">
    <button class="button-primary" *ngIf="currentStep > 1 && currentStep < 6" (click)="goToPreviousStep()">Go back</button>
    <button class="button-primary" (click)="goNext()" *ngIf="currentStep !== 6">Continue</button>
    <button class="button-primary" (click)="setUpAccount()" *ngIf="currentStep === 6">Finish</button>
  </div>
</div>
