<div class="modal" [@dialog]="state" *ngIf="post && recipe">
    <!--  SETUP STEP-->
    <div class="setup-step" *ngIf="isIngredientStep()">
      <p class="title-text">Prerequisites</p>
      <img src="assets/barman.png" width="250px" height="250px">
      <p class="text">Before you can make a <b class="accent"> {{post.postMedia?.title}} </b>, you need to make sure you have the following ingredients:</p>
      <div class="ingredient-wrapper">
        <p class="ingredient-text" *ngFor="let ingredient of getIngredients()"> <b class="am"> {{ingredient.measurement?.value}} </b> {{ingredient.name}}</p>
      </div>
    </div>
    <!--  -->
    <!--  STEPS -->
  <div class="steps" *ngIf="!isIngredientStep() && !isDone">
    <p class="title-text"> {{currentStep}}/{{getTotalSteps()}}</p>
    <img src="assets/bartender.png" width="250px" height="250px">
    <p class="text"> {{getCurrentInstruction()}} </p>
  </div>
<!--  COMPLETE SCREEN-->
  <div class="complete-screen" *ngIf="isDone">
    <p class="title-text"> Enjoy! </p>
    <img src="assets/drink_ready.png" width="250px" height="250px">
    <p class="text"> Your <b class="accent"> {{post.postMedia?.title}} </b> is ready!  </p>
  </div>
    <!--  CONTROLS -->
    <div class="controls">
      <div class="next-prev-btns">
        <button (click)="previousStep()" *ngIf="!isDone &&currentStep>0" class="button-primary" matRipple>Previous</button>
        <button (click)="nextStep()" *ngIf="!isDone" class="button-primary" matRipple>Continue</button>
      </div>
      <button (click)="onClose()" *ngIf="!isDone" class="close-btn margin-bottom-1rem">Close</button>
      <button (click)="onClose()" *ngIf="isDone" class="button-primary margin-bottom-1rem" matRipple> Finish </button>
    </div>

</div>
