<div class="recipe-container"
     [@slideAnimation]="currentState"
     (swipeleft)="onSwipeLeft()"
     (swiperight)="onSwipeRight()">

  <div class="progress-bar">
    <div *ngFor="let step of getProgressSteps(); let i = index"
         class="progress-dot"
         [class.active]="currentStep === i">
    </div>
  </div>

  <div class="content"
       [@contentAnimation]="currentStep"
  >
    <ng-container *ngIf="currentStep === 0">
      <div class="step-content ingredients-step">
        <h2 class="step-title">Before you can make a <b class="accent"> {{post.postMedia?.title}} </b>, you'll need</h2>
        <div class="ingredients-list">
          <div *ngFor="let ingredient of recipe.ingredientsWithMeasurements"
               class="ingredient-item">
            <span class="name">{{ingredient.name}}</span>
            <span class="amount">{{ingredient.measurement?.value}}</span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Recipe Steps -->
    <ng-container *ngIf="currentStep > 0 && currentStep <= getTotalSteps()"
    >
      <div class="step-content recipe-step">
        <h2 class="step-title">Step {{currentStep}}</h2>
        <img src="assets/bartender.png" alt="Step"
             class="step-image">

        <p class="instruction">
          {{getCurrentInstruction()}}
        </p>
      </div>
    </ng-container>

    <!-- Final Step -->
    <ng-container *ngIf="isLastStep()">
      <div class="step-content final-step">
        <h2 class="step-title">Enjoy your <b class="accent">{{post.postMedia?.title}}</b></h2>
        <img src="{{post.postMedia?.pictures?.[0]}}" alt="Complete"
             class="step-image">

      </div>
    </ng-container>
  </div>

  <!-- Navigation -->
  <div class="navigation">
    <button class="nav-button" (click)="onClose()">
      <span class="material-icons">close</span>
    </button>
    <button class="nav-button"
            (click)="previousStep()"
            [disabled]="currentStep === 0">
      <span class="material-icons">chevron_left</span>
    </button>

    <button class="nav-button"
            (click)="isLastStep() ? onClose() : nextStep()"
            [disabled]="false">
      <span class="material-icons">
        {{isLastStep() ? 'check' : 'chevron_right'}}
      </span>
    </button>
  </div>
</div>
