.setup-step{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.steps{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.complete-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.controls{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}
.title-text{
  font-size: 2rem;
  font-weight: 700;
  color: var(--theme-color-50);
  text-align: center;
  letter-spacing: 0.1rem;
}
.accent{
  color: var(--accent-color)
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  Width: 100%;
}
li{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  color: var(--theme-color-50);
}
.text{
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--theme-color-50);
  text-align: center;
  letter-spacing: 0.1rem;
}
.close-btn{
  height: 3rem;
  background-color: transparent;
  color: var(--theme-color-300);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
}
.ingredient-text{
  color: var(--theme-color-300);
  font-weight: bold;
  font-size: 1rem;
}
.am{
  color: var(--theme-color-200);
}
