.content{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.top{
  flex-basis: 15%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}
.top > p{
  font-family: "Pacifico", cursive;
  color: var(--theme-color-100);
  font-size: 32px;
}
.title-text{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--theme-color-500);
  margin-bottom: 1rem;
}
.text{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--theme-color-500);
  margin-bottom: 1rem;
  text-align: center;
}
a{
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
}
a:visited{
  color: var(--accent-color);
}
