html, body {
  height: 100%;
  margin: 0;
  background-color: var(--theme-color-950);
}

.fs-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--theme-color-950);
  padding: 1rem 1rem 28pt;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.transparent-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 9999;
  touch-action: pan-y;
  will-change: transform;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.fs-container > * {
  width: 100%;
}
.modal {
  width: 100vw;
  height: 100vh;
  background-color: var(--theme-color-950);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem 1rem 28pt;
  align-items: center;
}
.input-field{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  padding: 0.8rem;
  border-radius: 4px;
  background-color: var(--theme-color-50);
  box-shadow: 0 0 10px 0 var(--theme-color-900);
}
.input-field > input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 2rem;
  font-size: 18px;
}
.input-field > mat-icon{
  font-size: 24px;
}
.input-field > input:focus{
  outline: none;
}
.input-field:focus {
  outline: none;
  border-color: var(--theme-color-500);
  box-shadow: 0 0 0 2px var(--theme-color-200);
}
.input-field.error {
  border-color: #ff4444;
}
