:root {
  --theme-color-50: #f5f7fa;
  --theme-color-100: #e9ecf5;
  --theme-color-200: #ced8e9;
  --theme-color-300: #a3b6d6;
  --theme-color-400: #7291be;
  --theme-color-500: #5073a7;
  --theme-color-600: #3e5a8b;
  --theme-color-700: #334971;
  --theme-color-800: #2d3f5f;
  --theme-color-900: #2a3750;
  --theme-color-950: #0e121b;
  --accent-color: #FFD2E5;
}
