.container{
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.navigation{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
  width: 100%;
}
.title-text{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--theme-color-50);
  margin: 0;
}
