.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
.bar-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.single-bar {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-color-500);
}

.bar-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: var(--theme-color-900)
}
.m-bottom-5rem{
  margin-bottom: 5rem;
}
