.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color-950);
  padding-bottom: calc(50px + 38px + 2rem);
}
.header {
  position: sticky;
  top: 0;
  background-color: var(--theme-color-950);
  padding: 1.25rem 1rem;
  border-bottom: 1px solid var(--theme-color-800);
  z-index: 10;
}
.wrapper{
  padding: 1rem;
}
.margin-top-1rem{
  margin-top: 1rem;
}
.header-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--theme-color-50);
}
.suggestions {
  margin-top: 0.5rem;
  border-radius: 4px;
  background-color: var(--theme-color-50);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.suggestion-item {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--theme-color-100);
  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestion-item:hover {
  background-color: var(--theme-color-100);
}

.ingredient-name {
  font-size: 16px;
  font-weight: bold;
  color: var(--theme-color-900);
}

.ingredient-type {
  font-size: 14px;
  color: var(--theme-color-600);
  font-style: italic;
}

.suggestions::-webkit-scrollbar {
  width: 8px;
}

.suggestions::-webkit-scrollbar-thumb {
  background-color: var(--theme-color-300);
  border-radius: 4px;
}

.suggestions::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-color-400);
}
.modal-content {
  background-color: var(--theme-color-900);
  border-radius: 0.5rem;
  width: 90%;
  max-width: 400px;
  padding: 1.5rem 1.5rem 32pt;
}
.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-content h3 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: white;
}
.checkbox-field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

.modal-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}
.select-field {
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  padding: 0.8rem;
  border-radius: 4px;
  background-color: var(--theme-color-50);
  box-shadow: 0 0 10px 0 var(--theme-color-900);
  font-size: 18px;
  border: none;
  appearance: none;
}

.select-field:focus {
  outline: none;
  box-shadow: 0 0 12px 2px var(--theme-color-700);
}

.select-field > option {
  background-color: var(--theme-color-50);
  color: var(--theme-color-900);
}
.recipe-selected-ingredients {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.recipe-selected-ingredients::-webkit-scrollbar {
  width: 6px;
}

.recipe-selected-ingredients::-webkit-scrollbar-thumb {
  background-color: var(--theme-color-700);
  border-radius: 3px;
}

.recipe-selected-ingredients::-webkit-scrollbar-track {
  background-color: var(--theme-color-900);
}

.recipe-ingredient-token {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-color-900);
  border-radius: 4px;
  padding: 0.75rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}
.recipe-ingredient-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 0.5rem;
}

.recipe-ingredient-label {
  font-size: 16px;
  font-weight: 500;
  color: var(--theme-color-50);
  margin-bottom: 0.25rem;
}

.recipe-ingredient-quantity {
  font-size: 14px;
  color: var(--theme-color-400);
}

.recipe-ingredient-remove-btn {
  background-color: rgba(244, 67, 54, 0.2);
  color: var(--theme-color-50);
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.recipe-ingredient-remove-btn mat-icon {
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
}
