<div class="container">
  <p class="title-text"> Create your account</p>
  <form class="form">
    <input type="email" name="email" placeholder="Email">
    <input type="username" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="cpassword" placeholder="Confirm Password">
    <button type="submit" name="submit" class="button-primary">Log in</button>
  </form>
  <p class="text">Already have account? <a href="/login">Log in</a></p>
</div>
