<div class="modal">
  <div class="content">
    <div>
      <img class="image-container" src="assets/icon.png" width="150px" height="150px">
      <p class="title"> MixIT</p>
      <p class="subtitle"> Tap the share icon at the bottom of your screen, scroll down the pop-up menu till you see 'Add to home screen' and hit add.</p>
    </div>
    <div>
      <p class="instruction"> Tap the <mat-icon>ios_share</mat-icon> icon bellow, Then 'Add to home screen'</p>
      <mat-icon class="animated">arrow_downward</mat-icon>
    </div>
  </div>
</div>
