<div class="nav-container">

  <div [classList]="activeRoute('/home')" (click)="goto('home')" >
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </div>

  <div [classList]="activeRoute('/drinkBuilder')" (click)="goto('drinkBuilder')">
      <mat-icon>local_bar</mat-icon>
      <span>Builder</span>
  </div>

  <div [classList]="activeRoute('/postBuilder')" (click)="goto('postBuilder')">
    <mat-icon class="bigger">add_circle</mat-icon>
<!--    <span>Add</span>-->
  </div>
  <div [classList]="activeRoute('/search')" (click)="goto('search')">
    <mat-icon>search</mat-icon>
    <span>Search</span>
  </div>
  <div [classList]="activeRoute('/user-profile')" (click)="goto('user-profile/'+this.userId)">
    <mat-icon>person_outline</mat-icon>
    <span>Profile</span>
  </div>
</div>
