<div class="nav-container">
  <div class="nav-item">
    <mat-icon class="active">home</mat-icon>
    <span class="active">Home</span>
  </div>

  <div class="nav-item">
      <mat-icon>local_bar</mat-icon>
      <span>Generator</span>
  </div>

  <div class="nav-item">
    <mat-icon>liquor</mat-icon>
    <span>Your bar</span>
  </div>
  <div class="nav-item">
    <mat-icon>person_outline</mat-icon>
    <span>Profile</span>
  </div>
  <div class="nav-item">
    <mat-icon>search</mat-icon>
    <span>Search</span>
  </div>
</div>
