<div class="nav-container">

  <div [classList]="activeRoute('/home')" (click)="goto('home')" >
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </div>

  <div [classList]="activeRoute('/drinkBuilder')" (click)="goto('drinkBuilder')">
      <mat-icon>local_bar</mat-icon>
      <span>DrinkBuilder</span>
  </div>

  <div [classList]="activeRoute('/yourBar')" (click)="goto('yourBar')">
    <mat-icon>liquor</mat-icon>
    <span>Your bar</span>
  </div>
  <div [classList]="activeRoute('/search')" (click)="goto('search')">
    <mat-icon>search</mat-icon>
    <span>Search</span>
  </div>
  <div [classList]="activeRoute('/profile')" (click)="goto('profile')">
    <mat-icon>person_outline</mat-icon>
    <span>Profile</span>
  </div>
</div>
