.nav-container{
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--theme-color-950);
  /*border-radius: 4px;*/
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 100;

}
.nav-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.5s ease-in-out;
}
.active > *{
  color: var(--accent-color);
}
mat-icon{
  color: var(--theme-color-200);
}
span{
  color: var(--theme-color-200);
}

